@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

body{
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
:before, :after{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    vertical-align: middle; 
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;   
    font-family: 'Tilt Warp', cursive;
    color: #C8B6A6; 
}

.container h1{
   font-size: xx-large;
}

.container h2{
    text-align: center;
    color:  #A7727D;
}

.container h3{
    text-align: center;
    color:  #A7727D;
}

.row{
    display: flex;
    flex-wrap: wrap;
    
}

.align-items-center{
    align-items: center;
}

.slide{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn{
    display: inline-block;
    border-radius: 3rem;
    background-color:  #A7727D;
    padding: 10px 25px;
    cursor: grab;
    margin-bottom: 3px;
}

.btn:hover{
    background-color: #CCD5AE;
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}